@use "vars/vars";
@use "vars/vars-night";

@layer vetools {
	.lst__ {
		&item-group-header {
			font-size: 14px;
			background: vars.$rgb-bg--alt;
		}
	}

	.ve-night-mode .lst__ {
		&item-group-header {
			background: vars-night.$rgb-bg--alt-night;
		}
	}

	#listcontainer {
		flex: 3;
	}

	#tablecontainer {
		flex: 7;
		display: flex;
		flex-direction: column;
	}

	#contentwrapper {
		overflow-y: auto;
	}

	.search-box {
		margin-bottom: 5px;
	}

	.rolltable {
		display: flex;
	}
}
