@use "vars/vars";

@use "includes/statgen";
@use "includes/statgen-night";

@layer vetools {
	@media screen and (width <= #{vars.$width-screen-md}) {
		.viewport-wrapper {
			bottom: 0;
			height: 100vh;
			min-height: 0;
		}
	}

	.container--main {
		min-width: 420px;
	}
}
