*.js                       text eol=lf
*.cjs                      text eol=lf
*.mjs                      text eol=lf
*.json                     text eol=lf
*.html                     text eol=lf
*.scss                     text eol=lf
*.md                       text eol=lf
*.yml                      text eol=lf
*.sh                       text eol=lf
*.css                      text eol=lf
*.xml                      text eol=lf
*.svg                      text eol=lf
*.hbs                      text eol=lf
*.txt                      text eol=lf

.dockerignore              text eol=lf
.editorconfig              text eol=lf
.gitattributes             text eol=lf
.gitignore                 text eol=lf
.eslintignore              text eol=lf
.gitmodules                text eol=lf
.node-version              text eol=lf
manifest.webmanifest       text eol=lf
docker/*.conf              text eol=lf
Dockerfile                 text eol=lf

*.zip                      -text
*.webp                     -text
*.pdf                      -text
*.woff2                    -text
*.otf                      -text
