<!DOCTYPE html>
<html lang="en">

{{> "head" }}

<body>

{{> "overlayNoise" }}

{{> "adLeaderboard" }}

{{> "navbar" }}

{{> "adLhsScrollingPage" }}
{{> "adRhsScrollingPage" }}

<main class="container" id="main_content"><div class="ve-flex-vh-center initial-message initial-message--med ve-w-100 ve-h-100">Loading...</div></main>

{{> "adFooter" }}

{{> "scripts" }}

</body>
</html>
