<!DOCTYPE html>
<html lang="en">

{{> "head" }}

<body>

{{> "overlayNoise" }}

{{> "adLeaderboard" }}

{{> "navbar" }}

{{> "adLhsScrollingPage" }}
{{> "adRhsScrollingPage" }}

<main class="container">
	<div class="px-4 mt-4">
		<p>
			This page allows you to create configurations which &quot;blocklist&quot; site content, hiding it from list pages.
			This can be used, for example, in conjunction with homebrew content, to create a campaign JSON file containing additions to the base game,
			as well as the removal of extraneous content.
		</p>
		<p class="mb-0"><i class="ve-muted">
			With great power comes great responsibility. If you are a DM intending to use this system to remove parts of the game you
			consider broken; inconvenient; or otherwise in need of adjustment, please first consider the needs and expectations of your players,
			as well as the extensive playtesting and design iteration backing 5th Edition.
			If something is in the game, it is probably there for a reason.
		</i></p>
	</div>

	<hr>

	<div class="ve-flex-col" id="blocklist-content">
		<div class="py-2 ve-flex-vh-center initial-message initial-message--med">Loading...</div>
	</div>
</main>

{{> "adFooter" }}

{{> "scripts" }}

</body>
</html>
