<!DOCTYPE html>
<html lang="en">

{{> "head" }}

<body>

{{> "overlayNoise" }}

<div class="viewport-wrapper">
	{{> "adLeaderboard" }}

	{{> "navbar" }}

	<div class="ve-h-100 ve-flex-col ve-min-h-0">
		<div class="ve-pt-2 ve-mb-1 ve-pl-7p ve-flex-v-center ve-mobile-md__flex-col ve-mobile-md__flex-ai-start">
			<div class="ve-flex-v-stretch ve-mr-2 ve-mobile-md__mr-0 ve-mobile-md__mb-2">
				<div class="ve-mr-2 ve-bold">Mode</div>
				<div class="ve-flex-v-stretch ve-input-group ve-btn-group">
					<select id="sel-mode" class="ve-form-control ve-input-xs ve-min-w-100p ve-br-0" disabled><option value="-1" class="ve-italic">Loading...</option></select>
					<button class="ve-btn ve-btn-xs ve-btn-default" id="btn-settings" type="button" title="Settings" disabled>
						<span class="glyphicon glyphicon-cog"></span>
					</button>
				</div>
			</div>

			<div class="ve-flex-v-stretch ve-mobile-md__flex-col ve-mobile-md__flex-ai-start" id="wrp-settings"></div>
		</div>

		<div class="ve-flex ve-h-100 ve-min-h-0 ve-mobile-md__flex-col ve-mobile-md__h-initial ve-mobile-md__min-h-initial ve-mobile-md__flex-col">
			<div class="view-col">
				<div class="ve-mb-2 ve-split-v-center ve-w-100">
					<h4 class="ve-my-0 ve-italic">Input</h4>

					<div class="ve-flex-v-center ve-btn-group">
						<button id="btn-parse" class="ve-btn ve-btn-xs ve-btn-default">Parse</button>
						<button id="btn-parse-and-add" class="ve-btn ve-btn-xs ve-btn-default">Parse and Add</button>
					</div>
				</div>

				<pre id="ipt-converter-input" class="ve-h-100 ve-mb-0 ace_editor"></pre>
			</div>

			<div class="view-col">
				<div class="ve-mb-2 ve-split-v-center ve-w-100">
					<div class="ve-flex-v-center">
						<h4 class="ve-my-0 ve-italic">Output</h4>

						<button id="btn-enable-edit" class="ve-btn ve-btn-xs ve-btn-default ve-ml-3" title="If enabled, output will be editable, rather than read-only. Note that edits will be overwritten if you parse new input(s).">Enable Editing</button>
					</div>

					<div class="ve-flex-v-center ve-mobile-xs__flex-col ve-mobile-xs__flex-ai-start">
						<div class="ve-flex-vh-center ve-mobile-xs__mb-2">
							<button id="btn-preview" class="ve-btn ve-btn-xs ve-btn-default ve-mr-2">Preview</button>
							<button id="btn-save-local" class="ve-btn ve-btn-xs ve-btn-default hidden ve-mr-2">Save to Homebrew</button>
						</div>

						<div class="ve-btn-group ve-flex-vh-center">
							<button id="btn-output-copy" class="ve-btn ve-btn-xs ve-btn-default" title="Copy the output text.">Copy</button>
							<button id="btn-output-download" class="ve-btn ve-btn-xs ve-btn-default" title="Download the output text, as a homebrew file.">Download</button>
						</div>
					</div>
				</div>

				<pre id="ipt-converter-output" class="ve-h-100 ve-mb-0 ace_editor"></pre>

				<div class="ve-code ve-mt-2 ve-p-2 ve-flex-col ve-hidden conv__disp-message conv__disp-message--warning" id="disp-warnings"></div>
				<div class="ve-code ve-mt-2 ve-p-2 ve-flex-col ve-hidden conv__disp-message conv__disp-message--error" id="disp-errors"></div>
			</div>
		</div>
	</div>
</div>

{{> "adFooter" }}

{{> "scripts" }}

</body>
</html>
