<!DOCTYPE html>
<html lang="en">

{{> "head" }}

<body>

{{> "overlayNoise" }}

{{> "navbar" }}

<div class="container">
</div>

{{> "adLhsScrollingPage" }}
{{> "adRhsScrollingPage" }}

<div class="home__stripe">
	<div class="home__split relative">
		<div class="home__stripe-header ve-text-right home__h-player"><div class="w-100 ve-text-left mobile__text-center">Jugadores</div></div>
		<div class="ve-flex ve-flex-wrap relative home__split-spaced home__split-spaced--gutter home__split-spaced--no-header home__wrp-buttons">
			<a class="home__btn-page ve-btn ve-btn-default mr-3 home__btn-player" href="races.html">
				<div class="fal fa-users home__icn-page"></div>
				<h4 class="ve-text-center home__lbl-page">Especies</h4>
			</a>
			<a class="home__btn-page ve-btn ve-btn-default mr-3 home__btn-player" href="classes.html" title="Quickly browse the official classes, and their associated subclasses.
Unearthed Arcana content can be accessed by cycling the &quot;All Sources&quot; button.">
				<div class="fal fa-hat-wizard home__icn-page"></div>
				<h4 class="ve-text-center home__lbl-page">Clases</h4>
			</a>
			<a class="home__btn-page ve-btn ve-btn-default mr-3 home__btn-player" href="feats.html">
				<div class="fal fa-award home__icn-page"></div>
				<h4 class="ve-text-center home__lbl-page">Dotes</h4>
			</a>
			<a class="home__btn-page ve-btn ve-btn-default home__btn-player" href="optionalfeatures.html" title="A searchable, filterable list of feature choices, including Eldritch Invocations for the Warlock Class, and Maneuvers for the Fighter's Battle Master subclass.">
				<div class="fal fa-drafting-compass home__icn-page"></div>
				<h4 class="ve-text-center home__lbl-page">Opciones<br>&amp; Rasgos</h4>
			</a>

			<!-- mobile only -->
			{{!-- <a class="home__btn-page ve-btn ve-btn-default home__narrow-visible home__btn-player" href="backgrounds.html">
				<div class="fal fa-portrait home__icn-page"></div>
				<h4 class="ve-text-center home__lbl-page">Trasfondos</h4>
			</a> --}}
			<a class="home__btn-page ve-btn ve-btn-default home__narrow-visible home__btn-player" href="items.html">
				<div class="fal fa-helmet-battle home__icn-page"></div>
				<h4 class="ve-text-center home__lbl-page">Equipo</h4>
			</a>
			<a class="home__btn-page ve-btn ve-btn-default home__narrow-visible home__btn-player" href="spells.html">
				<div class="fal fa-book-spells home__icn-page"></div>
				<h4 class="ve-text-center home__lbl-page">Conjuros</h4>
			</a>
			{{!-- <a class="home__btn-page ve-btn ve-btn-default home__narrow-visible home__btn-player" href="statgen.html">
				<div class="fal fa-tally home__icn-page"></div>
				<h4 class="ve-text-center home__lbl-page">Generador<br>Características</h4>
			</a> --}}
		</div>

		<div class="ve-flex ve-flex-wrap home__wrp-buttons home__narrow-hidden">
			{{!-- <a class="home__btn-page ve-btn ve-btn-default mr-3 home__btn-player" href="backgrounds.html">
				<div class="fal fa-portrait home__icn-page"></div>
				<h4 class="ve-text-center home__lbl-page">Trasfondos</h4>
			</a> --}}
			<a class="home__btn-page ve-btn ve-btn-default mr-3 home__btn-player" href="items.html">
				<div class="fal fa-helmet-battle home__icn-page"></div>
				<h4 class="ve-text-center home__lbl-page">Equipo</h4>
			</a>
			<a class="home__btn-page ve-btn ve-btn-default mr-3 home__btn-player" href="spells.html">
				<div class="fal fa-book-spells home__icn-page"></div>
				<h4 class="ve-text-center home__lbl-page">Conjuros</h4>
			</a>
			{{!-- <a class="home__btn-page ve-btn ve-btn-default home__btn-player" href="statgen.html">
				<div class="fal fa-tally home__icn-page"></div>
				<h4 class="ve-text-center home__lbl-page">Generador<br>Características</h4>
			</a> --}}
		</div>
	</div>

	<div class="my-4 home__mobile-hidden home__narrow-hidden"></div>
	<div class="my-4 home__mobile-hidden home__narrow-visible"></div>
	<div class="my-4 home__mobile-hidden"></div>

	<div class="home__split">
		<div class="ve-flex ve-flex-wrap relative home__split-spaced home__split-spaced--gutter home__wrp-buttons">
			<div class="home__stripe-header home__h-rule"><div class="w-100 ve-text-left mobile__text-center">Reglas</div></div>
			{{!-- <a class="home__btn-page ve-btn ve-btn-default mr-3 home__btn-rule" href="adventures.html" title="All the official adventures published by Wizards of the Coast.">
				<div class="fal fa-dungeon home__icn-page"></div>
				<h4 class="ve-text-center home__lbl-page">Aventuras</h4>
			</a>
			<a class="home__btn-page ve-btn ve-btn-default mr-3 home__btn-rule" href="books.html" title="All the official sources published by Wizards of the Coast.">
				<div class="fal fa-books home__icn-page"></div>
				<h4 class="ve-text-center home__lbl-page">Libros</h4>
			</a>
			<a class="home__btn-page ve-btn ve-btn-default mr-3 home__btn-rule" href="variantrules.html" title="A searchable selection of commonly used rules and tables.">
				<div class="fal fa-info-square home__icn-page"></div>
				<h4 class="ve-text-center home__lbl-page">Glosario<br>de Reglas</h4>
			</a> --}}
			<a class="home__btn-page ve-btn ve-btn-default home__btn-rule" href="conditionsdiseases.html" title="A searchable, filterable list of the conditions found in the Player's Handbook, and various diseases found in the Dungeon Master's Guide and beyond.">
				<div class="fal fa-skull-crossbones home__icn-page"></div>
				<h4 class="ve-text-center home__lbl-page">Estados</h4>
			</a>
		</div>

		{{!-- <div class="my-4 home__mobile-visible"></div>

		<div class="ve-flex ve-flex-wrap relative home__wrp-buttons">
			<div class="home__stripe-header home__h-dm"><div class="w-100 ve-text-left mobile__text-center">Dungeon Masters</div></div>
			<a class="home__btn-page ve-btn ve-btn-default mr-3 home__btn-dm" href="bestiary.html" title="A searchable, filterable list of the more than 1,000 stat blocks in D&amp;D 5e. An encounter builder is included, and creature Challenge Rating can be scaled according to the &quot;Creating Quick Monster Stats&quot; table in the Dungeon Master's Guide.">
				<div class="fal fa-dragon home__icn-page"></div>
				<h4 class="ve-text-center home__lbl-page">Bestiario</h4>
			</a>
			<a class="home__btn-page ve-btn ve-btn-default mr-3 home__btn-dm" href="dmscreen.html" title="A fully-customizable Dungeon Master's screen, featuring an initiative tracker; a unit converter, embedded images, videos, and sites; and the majority of 5etools' content.">
				<div class="fal fa-map home__icn-page"></div>
				<h4 class="ve-text-center home__lbl-page">Pantalla DM</h4>
			</a>
			<a class="home__btn-page ve-btn ve-btn-default mr-3 home__btn-dm" href="lootgen.html" title="A random loot generator for both individual and hoards of treasure.">
				<div class="fal fa-treasure-chest home__icn-page"></div>
				<h4 class="ve-text-center home__lbl-page">Generador<br>Tesoro</h4>
			</a>
			<a class="home__btn-page ve-btn ve-btn-default home__btn-dm" href="crcalculator.html" title="A verbose, in-depth Challenge Rating calculator, for determining the CR of homebrew creatures.">
				<div class="fal fa-abacus home__icn-page"></div>
				<h4 class="ve-text-center home__lbl-page">Calculadora<br>VD</h4>
			</a>
		</div> --}}
	</div>

	<div class="my-4"></div>

	<hr class="no-shrink w-100 my-0">
</div>
<div class="cancer__footer-pad"></div>

{{> "adFooter" }}

{{> "scripts" }}

</body>
</html>
