<!DOCTYPE html>
<html lang="en">

{{> "head" }}

<body>

{{> "overlayNoise" }}

{{> "adLhs" }}
{{> "adRhs" }}

<div class="viewport-wrapper">
	{{> "adLeaderboard" }}

	{{> "navbar" }}

	<div class="container container--main ve-h-100 ve-min-h-0">
		<div class="ve-flex-col ve-w-100 ve-h-100 ve-pt-2" id="statgen-main">
			<div class="ve-flex-vh-center initial-message initial-message--large ve-w-100 ve-h-100">Loading...</div>
		</div>
	</div>
</div>

{{> "adFooter" }}

{{> "scripts" }}

</body>
</html>
