<!DOCTYPE html>
<html lang="en">

{{> "head" }}

<body>

{{> "overlayNoise" }}

{{> "adLhs" }}
{{> "adRhs" }}

<div class="viewport-wrapper">
	{{> "adLeaderboard" }}

	{{> "navbar" }}

	<main class="container h-100 min-h-0 pb-0" id="page-content">
		<div class="flex-vh-center initial-message initial-message--med">Loading...</div>
	</main>
</div>

{{> "adFooter" }}

{{> "scripts" }}

</body>
</html>
