<!DOCTYPE html>
<html lang="en">

{{> "head" }}

<body>

{{> "overlayNoise" }}

<div class="viewport-wrapper">
	{{> "navbar" }}

	<div class="dm-screen min-h-0">
		<div class="sidemenu__toggle">
			<div class="sidemenu__hotzone"></div>
			<div class="sidemenu__burger"></div>
			<div class="sidemenu__burger"></div>
			<div class="sidemenu__burger"></div>
			<div class="sidemenu"></div>
		</div>
	</div>
</div>

{{> "adFooter" }}

{{> "scripts" }}

</body>
</html>
