<!DOCTYPE html>
<html lang="en">

{{> "head" }}

<body>

{{> "overlayNoise" }}

{{> "adLhs" }}
{{> "adRhs" }}

<div class="viewport-wrapper">
	{{> "adLeaderboard" }}

	{{> "navbar" }}

	<div class="view-col-wrapper ve-flex-col ve-px-4">
		<div class="ve-flex-v-center ve-mb-3">
			<button class="ve-btn ve-btn-xs ve-btn-default ve-mr-2" id="btn__run">Run</button>
			<button class="ve-btn ve-btn-xs ve-btn-default ve-mr-2" id="btn__validate">Validate</button>
			<button class="ve-btn ve-btn-xs ve-btn-default ve-mr-2" id="btn__resolve_dynamics">Resolve Dynamics</button>
			<button class="ve-btn ve-btn-xs ve-btn-default ve-mr-2" id="btn__validate_dynamics">Validate Dynamics</button>
			<select class="ve-form-control ve-input-xs rlng__sel-sample" id="sel__sample"><option disabled value="-1">Select sample</option></select>
		</div>

		<div class="ve-flex ve-w-100 ve-h-100">
			<div class="ve-flex-col ve-w-33">
				<div class="ve-mb-2 ve-small-caps">Input</div>
				<div class="ve-flex-col ve-h-100 ve-w-100 ve-flex-1"><textarea id="ipt" class="ve-w-100 ve-h-100 ve-form-control ve-mb-2 ve-code ve-resize-none"></textarea></div>

				<div class="ve-mb-2 ve-small-caps">Context</div>
				<div class="ve-flex-col ve-h-100 ve-w-100 ve-flex-1" id="wrp_context"></div>
			</div>

			<div class="ve-flex-col ve-w-33 ve-px-2">
				<div class="ve-mb-2 ve-small-caps">Lexed</div>
				<div class="ve-flex-col ve-h-100 ve-w-100 ve-flex-1"><pre class="ve-w-100 ve-h-100 ve-m-0 ve-mb-2" id="out_lexed"></pre></div>

				<div class="ve-mb-2 ve-small-caps">Parsed</div>
				<div class="ve-flex-col ve-h-100 ve-w-100 ve-flex-1"><pre class="ve-w-100 ve-h-100 ve-m-0" id="out_parsed"></pre></div>
			</div>

			<div class="ve-flex-col ve-w-33 ve-h-100 ve-px-2">
				<div class="ve-mb-2 ve-small-caps">Result</div>
				<div class="ve-w-100 ve-h-100 ve-flex-vh-center rlng__output" id="out_result"></div>
			</div>
		</div>
	</div>
</div>

{{> "adFooter" }}

{{> "scripts" }}

</body>
</html>
