<!DOCTYPE html>
<html lang="en">

{{> "head" }}

<body>

{{> "overlayNoise" }}

{{> "adLhs" }}
{{> "adRhs" }}

<div class="viewport-wrapper">
	<div class="sidemenu__toggle" style="display: none;">
		<div class="sidemenu__hotzone"></div>
		<div class="sidemenu__burger"></div>
		<div class="sidemenu__burger"></div>
		<div class="sidemenu__burger"></div>
		<div class="sidemenu"></div>
	</div>

	{{> "adLeaderboard" }}

	{{> "navbar" }}

	<div id="page_loading" class="container view-col-wrapper">
		<div class="h-100 w-100 ve-flex-vh-center"><span class="initial-message initial-message--large">Loading...</span></div>
	</div>

	<div id="page_source" class="container view-col-wrapper" style="display: none"></div>

	<div id="page_main" class="container view-col-wrapper" style="display: none">
		<div class="view-col">
			<div id="content_input"></div>
			<div id="content_input_controls" class="ve-text-center"></div>
		</div>

		<div class="view-col" id="content_output"></div>
	</div>
</div>

{{> "adFooter" }}

{{> "scripts" }}

</body>
</html>
