<!DOCTYPE html>
<html lang="en">

{{> "head" }}

<body>

{{> "overlayNoise" }}

{{> "adLeaderboard" }}

{{> "navbar" }}

{{> "adLhsScrollingPage" }}
{{> "adRhsScrollingPage" }}

<main class="container">
	<div class="row">
		<div class="ve-col-12">
			<p>An overview of the features available in Plutonium can be found below. To those familiar with our now-deprecated Roll20 script &quot;betteR20,&quot; we aim to expand on the feature set it provided, while improving user experience.</p>
			<p><b>Please note that the videos on this page are updated much less frequently than the module itself.</b> For a (more) complete list of Plutonium's features, see <a href="https://wiki.tercept.net/en/Plutonium" rel="noopener noreferrer">the wiki</a>.</p>

			<hr>

			<h3>Importing</h3>
			<p>The module can import content to the sidebar, to a compendium, or to a character sheet. It can import most content found in 5etools, including:</p>
			<ul>
				<li>Classes and Subclasses, Backgrounds, Species, Feats, and other character options</li>
				<li>Creatures, Spells and Items</li>
				<li>Adventures, Books, and Tables</li>
			</ul>
			<p>By default, the module imports data provided by 5etools, but also includes the option to import from the <a href="https://github.com/TheGiddyLimit/homebrew" rel="noopener noreferrer">homebrew repository</a>, the <a href="https://github.com/TheGiddyLimit/unearthed-arcana" rel="noopener noreferrer">prerelease repository</a>, URLs, and file uploads.</p>

			<h4>Importing Creatures</h4>
			<a href="img/plutonium/creatures.gif" target="_blank" id="wrp-img-creatures"></a>
			<h4>Importing Spells to a Character Sheet</h4>
			<a href="img/plutonium/sheet-spells.gif" target="_blank" id="wrp-img-sheet-spells"></a>
			<h4>Importing Tables</h4>
			<a href="img/plutonium/tables.gif" target="_blank" id="wrp-img-tables"></a>

			<hr>

			<h3 id="rivet-browser-extension">Rivet Browser Extension</h3>
			<p>With Rivet installed, and provided you have 5etools and Foundry open in the same browser, you can send content and rolls from 5etools straight to your Foundry game with the click of a button.</p>
			<h4>Send to Foundry</h4>
			<a href="img/plutonium/rivet.gif" target="_blank" id="wrp-img-rivet"></a>

			<hr>

			<h3>Quality of Life Tools</h3>
			<p>The module includes a selection of tools to streamline the VTT experience.</p>
			<h4>Journal Cleaner</h4>
			<a href="img/plutonium/cleaner.gif" target="_blank" title="Sadly incapable of cleaning crappy GIF encoding." id="wrp-img-cleaner"></a>
			<h4>Journal Bulk Item Mover</h4>
			<a href="img/plutonium/mover.gif" target="_blank" id="wrp-img-mover"></a>
			<h4>Mass &quot;Spell Prepared&quot; Toggler</h4>
			<a href="img/plutonium/sheet-spell-toggler.gif" target="_blank" id="wrp-img-sheet-spell-toggler"></a>

			<hr>

			<h3>Customization Options</h3>
			<p>Plutonium is designed to be easily configurable, and contains a wide selection of options enable user customization.</p>
			<h4>Import Folder Specification</h4>
			<a href="img/plutonium/folder.gif" target="_blank" id="wrp-img-folder"></a>
			<h4>Configuration Options</h4>
			<a href="img/plutonium/config.webp" target="_blank" id="wrp-img-config"></a>

			<hr>

			<h3>Foundry UI Enhancements</h3>
			<p>While overhauling the Foundry user experience is not one of Plutonium's goals, a handful of optional tweaks have been included. These include:</p>
			<ul>
				<li>Red colorization of &quot;Delete&quot; icons, improving glance value</li>
				<li>Faster animations, removing a layer of artificial delay between input and action</li>
				<li>Reworked ESC key, to provide an &quot;escape last&quot; function rather than an &quot;escape all&quot; function</li>
			</ul>
			<div class="ve-flex">
				<div class="ve-flex-col px-3">
					<h4>Compact Directory Styling</h4>
					<a href="img/plutonium/compact-directory.webp" target="_blank" id="wrp-img-compact-directory"></a>
				</div>
				<div class="ve-flex-col px-3">
					<h4>Compact Chat Styling</h4>
					<a href="img/plutonium/compact-chat.webp" target="_blank" id="wrp-img-compact-chat"></a>
				</div>
			</div>
		</div>
	</div>
</main>

{{> "adFooter" }}

{{> "scripts" }}

</body>
</html>
