<!DOCTYPE html>
<html lang="en">

{{> "head" }}

<body>

{{> "overlayNoise" }}

{{> "adLhs" }}
{{> "adRhs" }}

<div class="viewport-wrapper">
	{{> "adLeaderboard" }}

	{{> "navbar" }}

	<div id="page_loading" class="container view-col-wrapper">
		<div class="ve-h-100 ve-w-100 ve-flex-vh-center"><span class="initial-message initial-message--large">Loading...</span></div>
	</div>

	<div id="page_source" class="container view-col-wrapper ve-hidden"></div>

	<div id="page_main" class="ve-h-100 ve-flex-col ve-min-h-0 ve-hidden">
		<div class="container ve-h-100 ve-flex-col">
			<div class="ve-w-100 ve-pt-2 ve-mb-1 ve-pl-7p ve-pr-7p ve-flex-col" id="wrp-settings"></div>

			<hr class="ve-hr-3 ve-w-initial ve-mx-7p">

			<div class="view-col-wrapper">
				<div class="view-col">
					<div id="content_input"></div>
				</div>

				<div class="view-col" id="content_output"></div>
			</div>
		</div>
	</div>
</div>

{{> "adFooter" }}

{{> "scripts" }}

</body>
</html>
