<!DOCTYPE html>
<html lang="en">

{{> "head" }}

<body>

{{> "overlayNoise" }}

{{> "adLeaderboard" }}

{{> "navbar" }}

{{> "adLhsScrollingPage" }}
{{> "adRhsScrollingPage" }}

<main class="container night__shadow-big mt-3" id="pagecontent"><div class="ve-flex-vh-center dnd-font mt-3"><i>Loading...</i></div></main>

{{> "adFooter" }}

{{> "scripts" }}

</body>
</html>
