<!DOCTYPE html>
<html lang="en">

{{> "head" }}

<body>

{{> "overlayNoise" }}

{{> "adLeaderboard" }}

{{> "navbar" }}

{{> "adLhsScrollingPage" }}
{{> "adRhsScrollingPage" }}

<main class="container">

	<div class="ve-flex no-print">
		<div class="form-group ve-col-2-4 mr-2">
			<label for="race">Species</label>
			<select class="form-control form-inline" id="race" disabled><option>Loading...</option></select>
		</div>

		<div class="form-group ve-col-2-4 mr-2">
			<label for="cha">Charisma Modifier</label>
			<select class="form-control form-inline" id="cha" disabled><option>Loading...</option></select>
		</div>

		<div class="form-group ve-col-2-4 mr-2">
			<label for="race">Background</label>
			<select class="form-control form-inline" id="background" disabled><option>Loading...</option></select>
		</div>

		<div class="form-group ve-col-2-4 mr-2">
			<label for="race">Class</label>
			<select class="form-control form-inline" id="class" disabled><option>Loading...</option></select>
		</div>

		<div class="form-group ve-col-2-4">
			<label for="age"><i>Age</i></label>
			<select class="form-control form-inline" id="age" disabled><option>Loading...</option></select>
		</div>
	</div>
	<div class="ve-flex no-print">
		<div class="form-group ve-col-12">
			<button class="ve-btn ve-btn-default" onclick="pRoll()">Generate</button>
		</div>
	</div>

	<div class="ve-flex-col no-print py-0 px-5">
		<p>Based on the tables and rules in <a href="#" id="xge_link">Xanathar's Guide to Everything</a>, pages 61-73.</p>
		<p><i>NOTE: Text displayed in italics is generated for the sake of ease and speed of use, and does not correspond to a table in the original generator. Ignore it as you see fit.</i></p>
	</div>

	<hr class="life__output" style="display: none; background: transparent">
	<div class="ve-flex-col life__output night__shadow-big ve-hidden">
		<div class="wrp-sect-head"><h4>Parents</h4><button class="ve-btn ve-btn-xs ve-btn-default no-print" onclick="pSectParents()">Reroll</button></div>
		<p id="parents"></p>
	</div>
	<div class="ve-flex-col life__output night__shadow-big ve-hidden">
		<div class="wrp-sect-head"><h4>Birthplace</h4><button class="ve-btn ve-btn-xs ve-btn-default no-print" onclick="sectBirthplace()">Reroll</button></div>
		<p id="birthplace"></p>
	</div>
	<div class="ve-flex-col life__output night__shadow-big ve-hidden">
		<div class="wrp-sect-head"><h4>Siblings</h4><button class="ve-btn ve-btn-xs ve-btn-default no-print" onclick="pSectSiblings()">Reroll</button></div>
		<p id="siblings"></p>
	</div>
	<div class="ve-flex-col life__output night__shadow-big ve-hidden">
		<div class="wrp-sect-head"><h4>Family and Friends</h4><button class="ve-btn ve-btn-xs ve-btn-default no-print" onclick="sectFamily()">Reroll</button></div>
		<p id="family"></p>
	</div>
	<div class="ve-flex-col life__output night__shadow-big ve-hidden">
		<div class="wrp-sect-head"><h4>Personal Decisions</h4><button class="ve-btn ve-btn-xs ve-btn-default no-print" onclick="sectPersonalDecisions()">Reroll</button></div>
		<p id="personal"></p>
	</div>
	<div class="ve-flex-col life__output night__shadow-big ve-hidden">
		<div class="wrp-sect-head"><h4>Class Training</h4><button class="ve-btn ve-btn-xs ve-btn-default no-print" onclick="sectClassTraining()">Reroll</button></div>
		<p id="clss"></p>
	</div>
	<div class="ve-flex-col life__output night__shadow-big ve-hidden">
		<div class="wrp-sect-head"><h4>Life Events</h4><button class="ve-btn ve-btn-xs ve-btn-default no-print" onclick="sectLifeEvents()">Reroll</button></div>
		<p id="events"></p>
	</div>
</main>

{{> "adFooter" }}

{{> "scripts" }}

</body>
</html>
