<!DOCTYPE html>
<html lang="en">

{{> "head" }}

<body>

{{> "overlayNoise" }}

<main class="container ve-flex-vh-center w-100w h-100h">
	<h3>
		Click <a href="{{redirectHref}}">here</a> to be redirected to {{redirectMessage}}.
	</h3>
</main>
</body>
</html>
