<!DOCTYPE html>
<html lang="en">

{{> "head" }}

<body>

{{> "overlayNoise" }}

{{> "adLeaderboard" }}

{{> "navbar" }}

{{> "adLhsScrollingPage" }}
{{> "adRhsScrollingPage" }}

<main class="container">
	<div id="manager" class="flex-col"><div class="w-100 ve-flex-vh-center"><i class="dnd-font ve-muted">Loading...</i></div></div>
</main>

{{> "adFooter" }}

{{> "scripts" }}

</body>
</html>
