<!DOCTYPE html>
<html lang="en">

{{> "head" }}

<body>

{{> "overlayNoise" }}

{{> "adLhs" }}
{{> "adRhs" }}

<div class="viewport-wrapper">
	{{> "adLeaderboard" }}

	{{> "navbar" }}

	<div class="container view-col-wrapper">
		<div class="view-col" id="listcontainer">
			<div class="ve-input-group ve-btn-group search-box ve-flex">
				<div class="ve-w-100 ve-relative">
					<input type="search" id="lst__search" autocomplete="off" autocapitalize="off" spellcheck="false" class="search ve-form-control ve-lst__search ve-br-0">
					<div id="lst__search-glass" class="ve-lst__wrp-search-glass ve-no-events ve-flex-vh-center"><span class="glyphicon glyphicon-search"></span></div>
				</div>
				<button class="ve-btn ve-btn-default reset" id="reset" type="button">Reset</button>
			</div>

			<div class="flex-col ve-overflow-y-scroll ve-min-h-0 ve-pr-2" data-name="tablepage-wrp-list">
				<!-- populate with JS -->
			</div>
		</div>

		<div class="view-col" id="tablecontainer">
			<div class="rolltable" id="contentwrapper">
				<table id="pagecontent" class="ve-w-100 ve-stats ve-stats--book ve-stats--book-large">
					<!-- populate with JS -->
				</table>
			</div>
		</div>
	</div>
</div>

{{> "adFooter" }}

{{> "scripts" }}

</body>
</html>
