<div class="view-col{{#if styleListContainerAdditional}} {{styleListContainerAdditional}}{{/if}}" id="listcontainer">
	{{> "listFilterSearchGroup" }}

	{{> "listFiltertools" }}

	{{> "listList" }}
</div>
