<div id="contentwrapper" class="view-col{{#if styleContentWrapperAdditional}} {{styleContentWrapperAdditional}}{{/if}}">
	{{> "listSublistContainerItems" }}

	{{> "listStatsTabs" }}

	{{> "listWrpPagecontent" }}

	<div class="ve-flex-vh-center mt-2 no-print mobile__ve-flex-col">
		<div class="ve-flex-v-center mr-2 mobile__mb-2 mobile__mr-0">
			<button type="button" class="ve-btn ve-btn-default ve-btn-xs mr-2" id="btn-book">Printer View</button>
			<button type="button" class="ve-btn ve-btn-default ve-btn-xs" id="btn-show-table" title="View and Download Items in Tabular Format">Table View</button>
		</div>

		{{> "btngroupManager" }}
	</div>
</div>
