<div id="contentwrapper" class="view-col{{#if styleContentWrapperAdditional}} {{styleContentWrapperAdditional}}{{/if}}">
	{{> "listSublistContainer" }}

	{{> "listStatsTabs" }}

	{{> "listWrpPagecontent" }}

	<div class="split-v-center mt-2 no-print">
		<div class="ve-small ve-muted italic mr-2" title="We gratefully accept any and all corrections in our Discord, a link to which can be found on the homepage.">Please note that allergen and other dietary information may be incomplete and/or inaccurate.</div>
		{{> "btngroupManager" }}
	</div>
</div>
