<div id="contentwrapper" class="view-col{{#if styleContentWrapperAdditional}} {{styleContentWrapperAdditional}}{{/if}}">
	{{> "listSublistContainer" }}

	{{> "listStatsTabs" }}

	{{> "listWrpPagecontent" }}

	<div class="ve-flex-vh-center mt-2 no-print mobile-sm__ve-flex-col">
		<div class="ve-flex-v-center mr-2 mobile-sm__mb-2 mobile-sm__mr-0">
			<button type="button" class="ve-btn ve-btn-default ve-btn-xs mr-2" id="btn-book">Book View</button>
			<button type="button" class="ve-btn ve-btn-default ve-btn-xs" id="btn-show-table" title="View and Download Spells in Tabular Format">Table View</button>
		</div>

		<div class="ve-flex-v-center mobile-sm__mb-2">
			{{> "btngroupManager" }}

			<button type="button" class="ve-btn ve-btn-default ve-btn-xs ml-2" id="btn-list-settings" title="Settings"><span class="glyphicon glyphicon-cog"></span></button>
		</div>
	</div>
</div>
