<div class="lst__form-top" id="filter-search-group">
	<div class="w-100 relative">
		<input type="search" id="lst__search" autocomplete="off" autocapitalize="off" spellcheck="false" class="search form-control lst__search lst__search--no-border-h">
		<div id="lst__search-glass" class="lst__wrp-search-glass no-events ve-flex-vh-center"><span class="glyphicon glyphicon-search"></span></div>
		<div class="lst__wrp-search-visible no-events ve-flex-vh-center"></div>
	</div>
	<button type="button" class="ve-btn ve-btn-default" id="reset">Reset</button>
</div>
