<div id="contentwrapper" class="view-col{{#if styleContentWrapperAdditional}} {{styleContentWrapperAdditional}}{{/if}}">
	<div class="best-ecgen__visible ve-mb-2" id="wrp-encounterbuild-settings"></div>

	<hr class="best-ecgen__visible ve-hr-2 ve-mt-0">

	<div class="best-ecgen__visible ve-my-2" id="wrp-encounterbuild-random-and-adjust"></div>
	<div class="best-ecgen__visible--flex-col ve-my-2" id="wrp-encounterbuild-shape-custom"></div>

	{{> "listSublistContainerBestiary" }}

	{{> "listStatsTabs" }}

	{{> "listWrpPagecontent" }}

	<div class="ve-flex-vh-center ve-mt-2 no-print ve-mobile-sm__flex-col best-ecgen__hidden">
		<div class="ve-flex-v-center ve-mr-2 ve-mobile-sm__mb-2 ve-mobile-sm__mr-0">
			<button type="button" class="ve-btn ve-btn-success ve-btn-xs ve-mr-2" id="btn-encounterbuild">Encounter Builder</button>
			<div id="wrp-profbonusdice" class="ve-flex-v-center">
				<button type="button" class="ve-btn ve-btn-default ve-btn-xs" id="profbonusdice" title="See the 2014 Dungeon Master&apos;s Guide, p263.">Proficiency Dice <span class="ve-muted">('14)</span></button>
			</div>
		</div>

		<div class="ve-flex-v-center ve-mr-2 ve-mobile-sm__mb-2 ve-mobile-sm__mr-0">
			<button type="button" class="ve-btn ve-btn-default ve-btn-xs ve-mr-2" id="btn-book">Printer View</button>
			<button type="button" class="ve-btn ve-btn-default ve-btn-xs" id="btn-show-table" title="View and Download Creatures in Tabular Format">Table View</button>
		</div>

		{{> "btngroupManager" }}
	</div>

	<div class="best-ecgen__visible--flex-col best-ecgen__wrp ve-pb-1 ve-px-2" id="wrp-encounterbuild-shape-custom"></div>
	<div class="best-ecgen__visible--flex-col best-ecgen__wrp ve-pb-1 ve-px-2" id="wrp-encounterbuild-group"></div>
	<div class="best-ecgen__visible--flex-col best-ecgen__wrp ve-pb-1 ve-px-2" id="wrp-encounterbuild-difficulty"></div>

	<div class="best-ecgen__visible--flex-col ve-pb-1" id="wrp-encounterbuild-footer"></div>
</div>
