<div id="sublistcontainer" class="sublist sublist--resizable no-print">
	{{> "listSublistsort" }}

	{{> "listSublist" }}

	<div class="row best-ecgen__hidden ve-small">
		<span class="ve-col-6 ve-text-right pr-2">Total:</span>
		<span class="ve-col-6 no-wrap pl-0" id="totalcr"></span>
	</div>
</div>
