<div class="ve-flex-vh-center ve-mt-2 no-print{{#if isTableView}} ve-mobile-sm__ve-flex-col{{/if}}">
	{{#if isTableView}}
	<div class="ve-flex-v-center ve-mr-2 ve-mobile-sm__mb-2 ve-mobile-sm__mr-0">
	{{/if}}
	{{#if isTableView}}	{{/if}}<button type="button" class="ve-btn ve-btn-default ve-btn-xs ve-mr-2" id="btn-book">Printer View</button>
	{{#if isTableView}}
		<button type="button" class="ve-btn ve-btn-default ve-btn-xs" id="btn-show-table" title="View and Download in Tabular Format">Table View</button>
	{{/if}}
	{{#if isTableView}}
	</div>
	{{/if}}
	{{> "btngroupManager" }}
</div>
