<div id="wrp-pagecontent" class="relative wrp-stats-table{{#if isStyleBook}} wrp-stats-table--book{{/if}}">
{{#if isWrpToken}}	<div id="float-token" class="relative"></div>

{{/if}}
	<table id="pagecontent" class="w-100 stats{{#if isStyleBook}} stats--book{{/if}}{{#if stylePageContentAdditional}} {{stylePageContentAdditional}}{{/if}}">
		<tr><th class="ve-tbl-border" colspan="6"></th></tr>
		<tr><td colspan="6" class="initial-message initial-message--med">Select an entry from the list to view it here</td></tr>
		<tr><th class="ve-tbl-border" colspan="6"></th></tr>
	</table>
</div>
