<!DOCTYPE html>
<html lang="en">

{{> "head" }}

<body>

{{> "overlayNoise" }}

{{> "adLhs" }}
{{> "adRhs" }}

<div class="viewport-wrapper">
	{{> "adLeaderboard" }}

	{{> "navbar" }}

	<div class="view-col-group--cancer h-100 mh-0">
		<div class="container view-col-wrapper view-col-wrapper--cancer">
			{{> (lookup . "identPartialListListcontainer") }}

			{{> "adMobile1" }}

			{{> (lookup . "identPartialListContentwrapper") }}
		</div>
	</div>
</div>

{{> "adFooter" }}

{{> "scripts" }}

</body>
</html>
