<div class="ve-flex-vh-center mt-2 no-print">
	{{#if isPrinterView}}
	<button type="button" class="ve-btn ve-btn-default ve-btn-xs mr-2" id="btn-book">Printer View</button>
	{{/if}}
	{{> "btngroupManager" }}
</div>
