<div class="ve-lst__form-top" id="filter-search-group">
	<div class="ve-w-100 ve-relative">
		<input type="search" id="lst__search" autocomplete="off" autocapitalize="off" spellcheck="false" class="search ve-form-control ve-lst__search ve-lst__search--no-border-h">
		<div id="lst__search-glass" class="ve-lst__wrp-search-glass ve-no-events ve-flex-vh-center"><span class="glyphicon glyphicon-search"></span></div>
		<div class="ve-lst__wrp-search-visible ve-no-events ve-flex-vh-center"></div>
	</div>
	<button type="button" class="ve-btn ve-btn-default" id="reset">Reset</button>
</div>
