<div id="sublistcontainer" class="sublist sublist--resizable no-print">
	{{> "listSublistsort" }}

	{{> "listSublist" }}

	<div class="row ve-small ve-flex-v-center">
		<span class="ve-col-6 ve-text-right pr-2">Total:</span>
		<span class="ve-col-2 ve-text-center no-wrap" id="totalweight"></span>
		<span class="ve-col-2 ve-text-center no-wrap clickable" id="totalvalue"></span>
		<span class="ve-col-2 ve-text-center no-wrap pr-0" id="totalitems"></span>
	</div>
</div>
