<div class="ve-flex-vh-center mt-2 no-print{{#if (and isPrinterView isTableView)}} mobile-sm__ve-flex-col{{/if}}">
	{{#if (and isPrinterView isTableView)}}
	<div class="ve-flex-v-center mr-2 mobile-sm__mb-2 mobile-sm__mr-0">
	{{/if}}
	{{#if isPrinterView}}
	{{#if (and isPrinterView isTableView)}}	{{/if}}<button type="button" class="ve-btn ve-btn-default ve-btn-xs mr-2" id="btn-book">Printer View</button>
	{{/if}}
	{{#if isTableView}}
	{{#if (and isPrinterView isTableView)}}	{{/if}}<button type="button" class="ve-btn ve-btn-default ve-btn-xs{{#if (not (and isPrinterView isTableView))}} mr-2{{/if}}" id="btn-show-table" title="View and Download in Tabular Format">Table View</button>
	{{/if}}
	{{#if (and isPrinterView isTableView)}}
	</div>
	{{/if}}
	{{> "btngroupManager" }}
</div>
