<div id="contentwrapper" class="view-col{{#if styleContentWrapperAdditional}} {{styleContentWrapperAdditional}}{{/if}}">
	{{> "listSublistContainer" }}

	{{> "listStatsTabs" }}

	{{> "listWrpPagecontent" }}

	{{> "listRhsWrpFooterControls" }}
</div>
