@use "../vars/vars";
@use "../vars/vars-night";

@layer vetools {
	.dm-book__ {
		&wrp-content {
			overflow: hidden auto;
			transform: translateZ(0);
		}

		&wrp-controls {
			padding: 2px 2px 1px 21px;
			border-top: 1px solid vars.$rgb-border-grey;
			justify-content: flex-end;
		}

		&controls-title {
			height: 20px;
			padding: 0 3px;
			width: 50%;
			flex-grow: 0;
		}
	}

	.ve-night-mode .dm-book__ {
		&wrp-controls {
			border-color: vars-night.$rgb-border-grey--night;
		}
	}
}
