@use "../vars/vars";

@layer vetools {
	.dm-cnt__ {
		&ipt {
			background: transparent;
			flex-shrink: 0;
			flex-grow: 0;
			width: 50px;
		}

		&ipt--cur {
			border-right: 0;
		}

		&ipt--max {
			border-left: 0;
		}

		&slash {
			margin-right: -2px;
			margin-left: -2px;
			width: 4px;
			pointer-events: none;
			user-select: none;
		}
	}

	.ve-night-mode .dm-cnt__ {
		&ipt {
			background: transparent;
		}
	}
}
