@use "../vars/vars";

.dm-unitconv {
	width: 100%;
	height: 100%;

	&__ {
		&wrp-ipt {
			align-items: center;
			height: 100%;
		}

		&wrp-ipt-inner {
			align-items: center;
			height: 100%;
		}

		&btn-switch {
			margin: 0 5px;
			font-weight: bold;
		}

		&ipt {
			resize: none;
			height: 100%;
		}

		&ipt.ipt-invalid:focus {
			box-shadow:
				inset 0 1px 1px rgb(0 0 0 / 7.5%),
				0 0 8px rgb(231 99 99 / 60%);
			border-color: #e92b31;
		}
	}
}
