@use "../vars/vars";
@use "../vars/vars-night";

@layer vetools {
	// region Expose variables for homebrew
	:root {
		--rgb-font: #{vars.$rgb-font};
		--rgb-font--muted: #{vars.$rgb-font--muted};
		--rgb-name: #{vars.$rgb-name-red};
		--rgb-bg: #{vars.$rgb-bg};
		--rgb-bg--alt: #{vars.$rgb-bg--alt};
		--rgb-border--statblock: #{vars.$rgb-border-yellow--statblock};
	}

	:root.ve-night-mode {
		--rgb-font: #{vars-night.$rgb-font--night};
		--rgb-name: #{vars-night.$rgb-name-red--night};
		--rgb-bg: #{vars-night.$rgb-bg--night};
		--rgb-bg--alt: #{vars-night.$rgb-bg--alt-night};
		--rgb-border--statblock: #{vars-night.$rgb-border-grey--statblock-night};
	}
	// endregion
}
