@use "../vars/vars";
@use "../vars/vars-night";

@layer vetools {
	// region Expose variables for homebrew
	:root {
		--rgb-font: #{vars.$rgb-font};
		--rgb-font--muted: #{vars.$rgb-font--muted};
		--rgb-name: #{vars.$rgb-name-red};
		--rgb-bg: #{vars.$rgb-bg};
		--rgb-bg--alt: #{vars.$rgb-bg--alt};
		--rgb-border--statblock: #{vars.$rgb-border-yellow--statblock};

		--rgb-success: #{vars.$rgb-alert-text-success};
		--rgb-info: #{vars.$rgb-alert-text-info};
		--rgb-warning: #{vars.$rgb-alert-text-warning};
		--rgb-danger: #{vars.$rgb-alert-text-danger};

		--rgb-dm-action: #{vars.$rgb-dm-action};
		--rgb-media-action: #{vars.$rgb-media-action};
		--rgb-critical-action: #{vars.$rgb-critical-action};
	}

	:root.ve-night-mode {
		--rgb-font: #{vars-night.$rgb-font--night};
		--rgb-name: #{vars-night.$rgb-name-red--night};
		--rgb-bg: #{vars-night.$rgb-bg--night};
		--rgb-bg--alt: #{vars-night.$rgb-bg--alt-night};
		--rgb-border--statblock: #{vars-night.$rgb-border-grey--statblock-night};

		--rgb-info: #{vars-night.$rgb-alert-info-blue--night};
		--rgb-danger: #{vars-night.$rgb-alert-danger-red--night};
		--rgb-warning: #{vars-night.$rgb-alert-warning-orange--night};
		--rgb-success: #{vars-night.$rgb-alert-success-green--night};

		--rgb-dm-action: #{vars-night.$rgb-dm-action--night};
		--rgb-media-action: #{vars-night.$rgb-media-action--night};
		--rgb-critical-action: #{vars-night.$rgb-critical-action--night};
	}
	// endregion
}
