@layer vetools {
	@font-face {
		font-family: Convergence;
		font-style: normal;
		font-weight: 400;
		src:
			local("Convergence-Regular"),
			url("../fonts/Convergence-Regular.woff2") format("woff2");
	}

	@font-face {
		font-family: Roboto;
		font-style: normal;
		font-weight: 400;
		src:
			local("Roboto"),
			url("../fonts/Roboto-Regular.woff2") format("woff2");
	}

	@font-face {
		font-family: "Glyphicons Halflings";
		font-style: normal;
		font-weight: 400;
		src:
			local("glyphicons-halflings-regular"),
			url("../fonts/glyphicons-halflings-regular.woff2") format("woff2");
	}

	// RMR/RMBRE
	@font-face {
		font-family: "Blambot Casual";
		src:
			local("Blambot-Casual"),
			url("../fonts/Blambot-Casual-Regular.woff2") format("woff2");
	}
}
