@use "../vars/vars-night";

@layer vetools {
	.ve-night-mode {
		.hwin {
			background: vars-night.$rgb-bg--night;
		}

		.hwin table.summary-noback th,
		.hwin table.summary th {
			color: vars-night.$rgb-font--night;
		}

		.hwin .hoverborder .window-title {
			color: vars-night.$rgb-font--night;
		}

		.hwin .ve-tbl-border {
			background-color: vars-night.$rgb-name-red--night;
		}
	}
}
