@use "../vars/vars-night";

@layer vetools {
	.ve-night-mode {
		.ve-hwin {
			background: vars-night.$rgb-bg--night;
		}

		.ve-hwin table.ve-summary-noback th,
		.ve-hwin table.ve-summary th {
			color: vars-night.$rgb-font--night;
		}

		.ve-hwin .ve-hoverborder .ve-window-title {
			color: vars-night.$rgb-font--night;
		}

		.ve-hwin .ve-tbl-border {
			background-color: vars-night.$rgb-name-red--night;
		}
	}
}
