@use "../vars/vars";
@use "../vars/vars-night";

@layer vetools {
	.ve-night-mode .lst__ {
		&row {
			background: vars-night.$rgb-bg--night;

			&:hover {
				background: vars.$rgb-off-black;
			}

			&-inner {
				color: inherit;
			}

			&-lnk-inner {
				color: inherit;
			}

			&-border {
				border-color: vars-night.$rgb-border-grey--list-row-night;
			}
		}
	}
}
