@layer vetools {
	// "Update your Browser" overlay
	.edge__ {
		&body {
			overflow: hidden !important;
		}

		&overlay {
			background: #8b0000;
			position: fixed;
			z-index: 99999;
			inset: 0;
			width: 100vw;
			height: 100vh;
			color: #fff;
			font-family: monospace;
		}

		&title {
			font-size: 72px;
		}

		&btn-close {
			position: absolute;
			top: 8px;
			right: 8px;
			font-size: 16px;
		}

		&link {
			color: #fff !important;
			text-decoration: underline;
		}
	}
}
