@use "../vars/vars";

@layer vetools {
	.ve-b-0 {
		border: 0 !important;
	}

	.ve-b-1 {
		border-width: (vars.$spacer * 0.25) !important;
	}

	.ve-b-2 {
		border-width: (vars.$spacer * 0.5) !important;
	}

	.ve-b-3 {
		border-width: vars.$spacer !important;
	}

	.ve-b-4 {
		border-width: (vars.$spacer * 1.5) !important;
	}

	.ve-b-5 {
		border-width: (vars.$spacer * 3) !important;
	}

	.ve-b-1p {
		border: 1px solid vars.$rgb-border-grey !important;
	}

	.ve-bt-0 {
		border-top-width: 0 !important;
	}

	.ve-bt-1 {
		border-top-width: (vars.$spacer * 0.25) !important;
	}

	.ve-bt-2 {
		border-top-width: (vars.$spacer * 0.5) !important;
	}

	.ve-bt-3 {
		border-top-width: vars.$spacer !important;
	}

	.ve-bt-4 {
		border-top-width: (vars.$spacer * 1.5) !important;
	}

	.ve-bt-5 {
		border-top-width: (vars.$spacer * 3) !important;
	}

	.ve-bt-1p {
		border-top: 1px solid vars.$rgb-border-grey !important;
	}

	.ve-br-0 {
		border-right-width: 0 !important;
	}

	.ve-br-1 {
		border-right-width: (vars.$spacer * 0.25) !important;
	}

	.ve-br-2 {
		border-right-width: (vars.$spacer * 0.5) !important;
	}

	.ve-br-3 {
		border-right-width: vars.$spacer !important;
	}

	.ve-br-4 {
		border-right-width: (vars.$spacer * 1.5) !important;
	}

	.ve-br-5 {
		border-right-width: (vars.$spacer * 3) !important;
	}

	.ve-br-1p {
		border-right: 1px solid vars.$rgb-border-grey !important;
	}

	.ve-bb-0 {
		border-bottom-width: 0 !important;
	}

	.ve-bb-1 {
		border-bottom-width: (vars.$spacer * 0.25) !important;
	}

	.ve-bb-2 {
		border-bottom-width: (vars.$spacer * 0.5) !important;
	}

	.ve-bb-3 {
		border-bottom-width: vars.$spacer !important;
	}

	.ve-bb-4 {
		border-bottom-width: (vars.$spacer * 1.5) !important;
	}

	.ve-bb-5 {
		border-bottom-width: (vars.$spacer * 3) !important;
	}

	.ve-bb-1p {
		border-bottom: 1px solid vars.$rgb-border-grey !important;

		&-trans {
			border-bottom: 1px solid vars.$rgb-border-grey--trans !important;
		}
	}

	.ve-bl-0 {
		border-left-width: 0 !important;
	}

	.ve-bl-1 {
		border-left-width: (vars.$spacer * 0.25) !important;
	}

	.ve-bl-2 {
		border-left-width: (vars.$spacer * 0.5) !important;
	}

	.ve-bl-3 {
		border-left-width: vars.$spacer !important;
	}

	.ve-bl-4 {
		border-left-width: (vars.$spacer * 1.5) !important;
	}

	.ve-bl-5 {
		border-left-width: (vars.$spacer * 3) !important;
	}

	.ve-bl-1p {
		border-left: 1px solid vars.$rgb-border-grey !important;
	}

	.ve-by-0 {
		border-top-width: 0 !important;
		border-bottom-width: 0 !important;
	}

	.ve-by-1 {
		border-top-width: (vars.$spacer * 0.25) !important;
		border-bottom-width: (vars.$spacer * 0.25) !important;
	}

	.ve-by-2 {
		border-top-width: (vars.$spacer * 0.5) !important;
		border-bottom-width: (vars.$spacer * 0.5) !important;
	}

	.ve-by-3 {
		border-top-width: vars.$spacer !important;
		border-bottom-width: vars.$spacer !important;
	}

	.ve-by-4 {
		border-top-width: (vars.$spacer * 1.5) !important;
		border-bottom-width: (vars.$spacer * 1.5) !important;
	}

	.ve-by-5 {
		border-top-width: (vars.$spacer * 3) !important;
		border-bottom-width: (vars.$spacer * 3) !important;
	}

	.ve-bx-0 {
		border-right-width: 0 !important;
		border-left-width: 0 !important;
	}

	.ve-bx-1 {
		border-right-width: (vars.$spacer * 0.25) !important;
		border-left-width: (vars.$spacer * 0.25) !important;
	}

	.ve-bx-2 {
		border-right-width: (vars.$spacer * 0.5) !important;
		border-left-width: (vars.$spacer * 0.5) !important;
	}

	.ve-bx-3 {
		border-right-width: vars.$spacer !important;
		border-left-width: vars.$spacer !important;
	}

	.ve-bx-4 {
		border-right-width: (vars.$spacer * 1.5) !important;
		border-left-width: (vars.$spacer * 1.5) !important;
	}

	.ve-bx-5 {
		border-right-width: (vars.$spacer * 3) !important;
		border-left-width: (vars.$spacer * 3) !important;
	}

	.ve-bc-0 {
		border-radius: 0 !important;
	}

	.ve-bc-5p {
		border-radius: 5px !important;
	}

	.ve-btl-0 {
		border-top-left-radius: 0 !important;
	}

	.ve-btl-5p {
		border-top-left-radius: 5px !important;
	}

	.ve-btr-0 {
		border-top-right-radius: 0 !important;
	}

	.ve-btr-5p {
		border-top-right-radius: 5px !important;
	}

	.ve-bbr-0 {
		border-bottom-right-radius: 0 !important;
	}

	.ve-bbr-5p {
		border-bottom-right-radius: 5px !important;
	}

	.ve-bbl-0 {
		border-bottom-left-radius: 0 !important;
	}

	.ve-bbl-5p {
		border-bottom-left-radius: 5px !important;
	}

	.ve-hr-0 {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
		width: 100%;
	}

	.ve-hr-1 {
		margin-top: (vars.$spacer * 0.25) !important;
		margin-bottom: (vars.$spacer * 0.25) !important;
		width: 100%;
	}

	.ve-hr-2 {
		margin-top: (vars.$spacer * 0.5) !important;
		margin-bottom: (vars.$spacer * 0.5) !important;
		width: 100%;
	}

	.ve-hr-3 {
		margin-top: vars.$spacer;
		margin-bottom: vars.$spacer;
		width: 100%;
	}

	.ve-hr-4 {
		margin-top: (vars.$spacer * 1.5) !important;
		margin-bottom: (vars.$spacer * 1.5) !important;
		width: 100%;
	}

	.ve-hr-5 {
		margin-top: (vars.$spacer * 3) !important;
		margin-bottom: (vars.$spacer * 3) !important;
		width: 100%;
	}

	.ve-vr-0 {
		@include vars.mix-vr;

		margin-right: 0 !important;
		margin-left: 0 !important;
	}

	.ve-vr-1 {
		@include vars.mix-vr;

		margin-right: (vars.$spacer * 0.25) !important;
		margin-left: (vars.$spacer * 0.25) !important;
	}

	.ve-vr-2 {
		@include vars.mix-vr;

		margin-right: (vars.$spacer * 0.5) !important;
		margin-left: (vars.$spacer * 0.5) !important;
	}

	.ve-vr-3 {
		@include vars.mix-vr;

		margin-right: vars.$spacer !important;
		margin-left: vars.$spacer !important;
	}

	.ve-vr-4 {
		@include vars.mix-vr;

		margin-right: (vars.$spacer * 1.5) !important;
		margin-left: (vars.$spacer * 1.5) !important;
	}

	.ve-vr-5 {
		@include vars.mix-vr;

		margin-right: (vars.$spacer * 3) !important;
		margin-left: (vars.$spacer * 3) !important;
	}

	.ve-m-auto {
		margin: auto !important;
	}

	.ve-m-0 {
		margin: 0 !important;
	}

	.ve-m-1 {
		margin: (vars.$spacer * 0.25) !important;
	}

	.ve-m-2 {
		margin: (vars.$spacer * 0.5) !important;
	}

	.ve-m-3 {
		margin: vars.$spacer !important;
	}

	.ve-m-4 {
		margin: (vars.$spacer * 1.5) !important;
	}

	.ve-m-5 {
		margin: (vars.$spacer * 3) !important;
	}

	.ve-my-auto {
		margin-top: auto !important;
		margin-bottom: auto !important;
	}

	.ve-my-0 {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}

	.ve-my-1 {
		margin-top: (vars.$spacer * 0.25) !important;
		margin-bottom: (vars.$spacer * 0.25) !important;
	}

	.ve-my-2 {
		margin-top: (vars.$spacer * 0.5) !important;
		margin-bottom: (vars.$spacer * 0.5) !important;
	}

	.ve-my-3 {
		margin-top: vars.$spacer !important;
		margin-bottom: vars.$spacer !important;
	}

	.ve-my-4 {
		margin-top: (vars.$spacer * 1.5) !important;
		margin-bottom: (vars.$spacer * 1.5) !important;
	}

	.ve-my-5 {
		margin-top: (vars.$spacer * 3) !important;
		margin-bottom: (vars.$spacer * 3) !important;
	}

	.ve-mx-auto {
		margin-right: auto !important;
		margin-left: auto !important;
	}

	.ve-mx-0 {
		margin-right: 0 !important;
		margin-left: 0 !important;
	}

	.ve-mx-1 {
		margin-right: (vars.$spacer * 0.25) !important;
		margin-left: (vars.$spacer * 0.25) !important;
	}

	.ve-mx-2 {
		margin-right: (vars.$spacer * 0.5) !important;
		margin-left: (vars.$spacer * 0.5) !important;
	}

	.ve-mx-3 {
		margin-right: vars.$spacer !important;
		margin-left: vars.$spacer !important;
	}

	.ve-mx-4 {
		margin-right: (vars.$spacer * 1.5) !important;
		margin-left: (vars.$spacer * 1.5) !important;
	}

	.ve-mx-5 {
		margin-right: (vars.$spacer * 3) !important;
		margin-left: (vars.$spacer * 3) !important;
	}

	.ve-my-1p {
		margin-top: 1px;
		margin-bottom: 1px;
	}

	.ve-mx-2p {
		margin-right: 2px !important;
		margin-left: 2px !important;
	}

	.ve-mx-7p {
		margin-right: 7px !important;
		margin-left: 7px !important;
	}

	.ve-mt-auto {
		margin-top: auto !important;
	}

	.ve-mt-0 {
		margin-top: 0 !important;
	}

	.ve-mt-1 {
		margin-top: (vars.$spacer * 0.25) !important;
	}

	.ve-mt-n1 {
		margin-top: (-(vars.$spacer) * 0.25) !important;
	}

	.ve-mt-2 {
		margin-top: (vars.$spacer * 0.5) !important;
	}

	.ve-mt-n2 {
		margin-top: (-(vars.$spacer) * 0.5) !important;
	}

	.ve-mt-3 {
		margin-top: vars.$spacer !important;
	}

	.ve-mt-4 {
		margin-top: (vars.$spacer * 1.5) !important;
	}

	.ve-mt-5 {
		margin-top: (vars.$spacer * 3) !important;
	}

	.ve-mt-1p {
		margin-top: 1px !important;
	}

	.ve-mr-auto {
		margin-right: auto !important;
	}

	.ve-mr-0 {
		margin-right: 0 !important;
	}

	.ve-mr-1 {
		margin-right: (vars.$spacer * 0.25) !important;
	}

	.ve-mr-n1 {
		margin-right: (-(vars.$spacer) * 0.25) !important;
	}

	.ve-mr-2 {
		margin-right: (vars.$spacer * 0.5) !important;
	}

	.ve-mr-n2 {
		margin-right: (-(vars.$spacer) * 0.5) !important;
	}

	.ve-mr-3 {
		margin-right: vars.$spacer !important;
	}

	.ve-mr-4 {
		margin-right: (vars.$spacer * 1.5) !important;
	}

	.ve-mr-5 {
		margin-right: (vars.$spacer * 3) !important;
	}

	.ve-mr-3p {
		margin-right: 3px !important;
	}

	.ve-mb-auto {
		margin-bottom: auto !important;
	}

	.ve-mb-0 {
		margin-bottom: 0 !important;
	}

	.ve-mb-1 {
		margin-bottom: (vars.$spacer * 0.25) !important;
	}

	.ve-mb-1p {
		margin-bottom: 1px !important;
	}

	.ve-mb-n1 {
		margin-bottom: (-(vars.$spacer) * 0.25) !important;
	}

	.ve-mb-2 {
		margin-bottom: (vars.$spacer * 0.5) !important;
	}

	.ve-mb-n2 {
		margin-bottom: (-(vars.$spacer) * 0.5) !important;
	}

	.ve-mb-3 {
		margin-bottom: vars.$spacer !important;
	}

	.ve-mb-4 {
		margin-bottom: (vars.$spacer * 1.5) !important;
	}

	.ve-mb-5 {
		margin-bottom: (vars.$spacer * 3) !important;
	}

	.ve-ml-auto {
		margin-left: auto !important;
	}

	.ve-ml-0 {
		margin-left: 0 !important;
	}

	.ve-ml-1 {
		margin-left: (vars.$spacer * 0.25) !important;
	}

	.ve-ml-n1 {
		margin-left: (-(vars.$spacer) * 0.25) !important;
	}

	.ve-ml-2 {
		margin-left: (vars.$spacer * 0.5) !important;
	}

	.ve-ml-n2 {
		margin-left: (-(vars.$spacer) * 0.5) !important;
	}

	.ve-ml-3 {
		margin-left: vars.$spacer !important;
	}

	.ve-ml-4 {
		margin-left: (vars.$spacer * 1.5) !important;
	}

	.ve-ml-5 {
		margin-left: (vars.$spacer * 3) !important;
	}

	.ve-p-0 {
		padding: 0 !important;
	}

	.ve-p-1 {
		padding: (vars.$spacer * 0.25) !important;
	}

	.ve-p-2 {
		padding: (vars.$spacer * 0.5) !important;
	}

	.ve-p-3 {
		padding: vars.$spacer !important;
	}

	.ve-p-4 {
		padding: (vars.$spacer * 1.5) !important;
	}

	.ve-p-5 {
		padding: (vars.$spacer * 3) !important;
	}

	.ve-p-1p {
		padding: 1px !important;
	}

	.ve-py-0 {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}

	.ve-py-1 {
		padding-top: (vars.$spacer * 0.25) !important;
		padding-bottom: (vars.$spacer * 0.25) !important;
	}

	.ve-py-2 {
		padding-top: (vars.$spacer * 0.5) !important;
		padding-bottom: (vars.$spacer * 0.5) !important;
	}

	.ve-py-3 {
		padding-top: vars.$spacer !important;
		padding-bottom: vars.$spacer !important;
	}

	.ve-py-4 {
		padding-top: (vars.$spacer * 1.5) !important;
		padding-bottom: (vars.$spacer * 1.5) !important;
	}

	.ve-py-5 {
		padding-top: (vars.$spacer * 3) !important;
		padding-bottom: (vars.$spacer * 3) !important;
	}

	.ve-px-0 {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}

	.ve-px-1 {
		padding-right: (vars.$spacer * 0.25) !important;
		padding-left: (vars.$spacer * 0.25) !important;
	}

	.ve-px-2 {
		padding-right: (vars.$spacer * 0.5) !important;
		padding-left: (vars.$spacer * 0.5) !important;
	}

	.ve-px-3 {
		padding-right: vars.$spacer !important;
		padding-left: vars.$spacer !important;
	}

	.ve-px-4 {
		padding-right: (vars.$spacer * 1.5) !important;
		padding-left: (vars.$spacer * 1.5) !important;
	}

	.ve-px-5 {
		padding-right: (vars.$spacer * 3) !important;
		padding-left: (vars.$spacer * 3) !important;
	}

	.ve-py-1p {
		padding-top: 1px !important;
		padding-bottom: 1px !important;
	}

	.ve-py-2p {
		padding-top: 2px !important;
		padding-bottom: 2px !important;
	}

	.ve-px-1p {
		padding-right: 1px !important;
		padding-left: 1px !important;
	}

	.ve-px-2p {
		padding-right: 2px !important;
		padding-left: 2px !important;
	}

	.ve-px-4p {
		padding-right: 4px !important;
		padding-left: 4px !important;
	}

	.ve-px-7p {
		padding-right: 7px !important;
		padding-left: 7px !important;
	}

	.ve-pt-0 {
		padding-top: 0 !important;
	}

	.ve-pt-1 {
		padding-top: (vars.$spacer * 0.25) !important;
	}

	.ve-pt-2 {
		padding-top: (vars.$spacer * 0.5) !important;
	}

	.ve-pt-3 {
		padding-top: vars.$spacer !important;
	}

	.ve-pt-4 {
		padding-top: (vars.$spacer * 1.5) !important;
	}

	.ve-pt-5 {
		padding-top: (vars.$spacer * 3) !important;
	}

	.ve-pt-1p {
		padding-top: 1px !important;
	}

	.ve-pt-2p {
		padding-top: 2px !important;
	}

	.ve-pr-0 {
		padding-right: 0 !important;
	}

	.ve-pr-1 {
		padding-right: (vars.$spacer * 0.25) !important;
	}

	.ve-pr-2 {
		padding-right: (vars.$spacer * 0.5) !important;
	}

	.ve-pr-3 {
		padding-right: vars.$spacer !important;
	}

	.ve-pr-4 {
		padding-right: (vars.$spacer * 1.5) !important;
	}

	.ve-pr-5 {
		padding-right: (vars.$spacer * 3) !important;
	}

	.ve-pr-1p {
		padding-right: 1px !important;
	}

	.ve-pr-10p {
		padding-right: 10px !important;
	}

	.ve-pb-0 {
		padding-bottom: 0 !important;
	}

	.ve-pb-1 {
		padding-bottom: (vars.$spacer * 0.25) !important;
	}

	.ve-pb-2 {
		padding-bottom: (vars.$spacer * 0.5) !important;
	}

	.ve-pb-3 {
		padding-bottom: vars.$spacer !important;
	}

	.ve-pb-4 {
		padding-bottom: (vars.$spacer * 1.5) !important;
	}

	.ve-pb-5 {
		padding-bottom: (vars.$spacer * 3) !important;
	}

	.ve-pb-1p {
		padding-bottom: 1px !important;
	}

	.ve-pl-0 {
		padding-left: 0 !important;
	}

	.ve-pl-1 {
		padding-left: (vars.$spacer * 0.25) !important;
	}

	.ve-pl-2 {
		padding-left: (vars.$spacer * 0.5) !important;
	}

	.ve-pl-3 {
		padding-left: vars.$spacer !important;
	}

	.ve-pl-4 {
		padding-left: (vars.$spacer * 1.5) !important;
	}

	.ve-pl-5 {
		padding-left: (vars.$spacer * 3) !important;
	}

	.ve-pl-1p {
		padding-left: 1px !important;
	}

	.ve-pl-7p {
		padding-left: 7px !important;
	}

	.ve-pl-80p {
		padding-left: 80px !important;
	}

	.ve-z-index-1 {
		z-index: 1 !important;
	}

	.ve-top-n1p {
		top: -1px;
	}

	.ve-top-1p {
		top: 1px;
	}

	.ve-right-0 {
		right: 0 !important;
	}
}
