@use "../vars/vars";

@layer vetools {
	.accordion__ {
		&wrp-preview {
			font-size: 12.6px;
			background: vars.$rgb-bg;
		}

		&vr-preview {
			top: 7px;
			left: 8px;
			height: calc(100% - 14px);
		}

		&wrp-preview-inner {
			border-bottom: 1px solid vars.$rgb-border-grey--list-row;
		}
	}
}
