@layer vetools {
	%col-base {
		position: relative;
		min-height: 1px;
	}

	.ve-col-12 {
		@extend %col-base;
		width: 100% !important;
	}

	.ve-col-11 {
		@extend %col-base;
		width: 91.6667% !important;
	}

	.ve-col-11-9 {
		@extend %col-base;
		width: 99.1667% !important;
	}

	.ve-col-11-8 {
		@extend %col-base;
		width: 98.3333% !important;
	}

	.ve-col-11-7 {
		@extend %col-base;
		width: 97.5% !important;
	}

	.ve-col-11-6 {
		@extend %col-base;
		width: 96.6667% !important;
	}

	.ve-col-11-5 {
		@extend %col-base;
		width: 95.8333% !important;
	}

	.ve-col-11-4 {
		@extend %col-base;
		width: 95% !important;
	}

	.ve-col-11-3 {
		@extend %col-base;
		width: 94.1667% !important;
	}

	.ve-col-11-2 {
		@extend %col-base;
		width: 93.3333% !important;
	}

	.ve-col-11-1 {
		@extend %col-base;
		width: 92.5% !important;
	}

	.ve-col-10 {
		@extend %col-base;
		width: 83.3333% !important;
	}

	.ve-col-10-9 {
		@extend %col-base;
		width: 90.8333% !important;
	}

	.ve-col-10-8 {
		@extend %col-base;
		width: 90% !important;
	}

	.ve-col-10-7 {
		@extend %col-base;
		width: 89.1667% !important;
	}

	.ve-col-10-6 {
		@extend %col-base;
		width: 88.3333% !important;
	}

	.ve-col-10-5 {
		@extend %col-base;
		width: 87.5% !important;
	}

	.ve-col-10-4 {
		@extend %col-base;
		width: 86.6667% !important;
	}

	.ve-col-10-3 {
		@extend %col-base;
		width: 85.8333% !important;
	}

	.ve-col-10-2 {
		@extend %col-base;
		width: 85% !important;
	}

	.ve-col-10-1 {
		@extend %col-base;
		width: 84.1667% !important;
	}

	.ve-col-9 {
		@extend %col-base;
		width: 75% !important;
	}

	.ve-col-9-9 {
		@extend %col-base;
		width: 82.5% !important;
	}

	.ve-col-9-8 {
		@extend %col-base;
		width: 81.6667% !important;
	}

	.ve-col-9-7 {
		@extend %col-base;
		width: 80.8333% !important;
	}

	.ve-col-9-6 {
		@extend %col-base;
		width: 80% !important;
	}

	.ve-col-9-5 {
		@extend %col-base;
		width: 79.1667% !important;
	}

	.ve-col-9-4 {
		@extend %col-base;
		width: 78.3333% !important;
	}

	.ve-col-9-3 {
		@extend %col-base;
		width: 77.5% !important;
	}

	.ve-col-9-2 {
		@extend %col-base;
		width: 76.6667% !important;
	}

	.ve-col-9-1 {
		@extend %col-base;
		width: 75.8333% !important;
	}

	.ve-col-8 {
		@extend %col-base;
		width: 66.6667% !important;
	}

	.ve-col-8-9 {
		@extend %col-base;
		width: 74.1667% !important;
	}

	.ve-col-8-8 {
		@extend %col-base;
		width: 73.3333% !important;
	}

	.ve-col-8-7 {
		@extend %col-base;
		width: 72.5% !important;
	}

	.ve-col-8-6 {
		@extend %col-base;
		width: 71.6667% !important;
	}

	.ve-col-8-5 {
		@extend %col-base;
		width: 70.8333% !important;
	}

	.ve-col-8-4 {
		@extend %col-base;
		width: 70% !important;
	}

	.ve-col-8-3 {
		@extend %col-base;
		width: 69.1667% !important;
	}

	.ve-col-8-2 {
		@extend %col-base;
		width: 68.3333% !important;
	}

	.ve-col-8-1 {
		@extend %col-base;
		width: 67.5% !important;
	}

	.ve-col-7 {
		@extend %col-base;
		width: 58.3333% !important;
	}

	.ve-col-7-9 {
		@extend %col-base;
		width: 65.8333% !important;
	}

	.ve-col-7-8 {
		@extend %col-base;
		width: 65% !important;
	}

	.ve-col-7-7 {
		@extend %col-base;
		width: 64.1667% !important;
	}

	.ve-col-7-6 {
		@extend %col-base;
		width: 63.3333% !important;
	}

	.ve-col-7-5 {
		@extend %col-base;
		width: 62.5% !important;
	}

	.ve-col-7-4 {
		@extend %col-base;
		width: 61.6667% !important;
	}

	.ve-col-7-3 {
		@extend %col-base;
		width: 60.8333% !important;
	}

	.ve-col-7-2 {
		@extend %col-base;
		width: 60% !important;
	}

	.ve-col-7-1 {
		@extend %col-base;
		width: 59.1667% !important;
	}

	.ve-col-6 {
		@extend %col-base;
		width: 50% !important;
	}

	.ve-col-6-9 {
		@extend %col-base;
		width: 57.5% !important;
	}

	.ve-col-6-8 {
		@extend %col-base;
		width: 56.6667% !important;
	}

	.ve-col-6-7 {
		@extend %col-base;
		width: 55.8333% !important;
	}

	.ve-col-6-6 {
		@extend %col-base;
		width: 55% !important;
	}

	.ve-col-6-5 {
		@extend %col-base;
		width: 54.1667% !important;
	}

	.ve-col-6-4 {
		@extend %col-base;
		width: 53.3333% !important;
	}

	.ve-col-6-3 {
		@extend %col-base;
		width: 52.5% !important;
	}

	.ve-col-6-2 {
		@extend %col-base;
		width: 51.6667% !important;
	}

	.ve-col-6-1 {
		@extend %col-base;
		width: 50.8333% !important;
	}

	.ve-col-5 {
		@extend %col-base;
		width: 41.6667% !important;
	}

	.ve-col-5-9 {
		@extend %col-base;
		width: 49.1667% !important;
	}

	.ve-col-5-8 {
		@extend %col-base;
		width: 48.3333% !important;
	}

	.ve-col-5-7 {
		@extend %col-base;
		width: 47.5% !important;
	}

	.ve-col-5-6 {
		@extend %col-base;
		width: 46.6667% !important;
	}

	.ve-col-5-5 {
		@extend %col-base;
		width: 45.8333% !important;
	}

	.ve-col-5-4 {
		@extend %col-base;
		width: 45% !important;
	}

	.ve-col-5-3 {
		@extend %col-base;
		width: 44.1667% !important;
	}

	.ve-col-5-2 {
		@extend %col-base;
		width: 43.3333% !important;
	}

	.ve-col-5-1 {
		@extend %col-base;
		width: 42.5% !important;
	}

	.ve-col-4 {
		@extend %col-base;
		width: 33.3333% !important;
	}

	.ve-col-4-9 {
		@extend %col-base;
		width: 40.8333% !important;
	}

	.ve-col-4-8 {
		@extend %col-base;
		width: 40% !important;
	}

	.ve-col-4-7 {
		@extend %col-base;
		width: 39.1667% !important;
	}

	.ve-col-4-6 {
		@extend %col-base;
		width: 38.3333% !important;
	}

	.ve-col-4-5 {
		@extend %col-base;
		width: 37.5% !important;
	}

	.ve-col-4-4 {
		@extend %col-base;
		width: 36.6667% !important;
	}

	.ve-col-4-3 {
		@extend %col-base;
		width: 35.8333% !important;
	}

	.ve-col-4-2 {
		@extend %col-base;
		width: 35% !important;
	}

	.ve-col-4-1 {
		@extend %col-base;
		width: 34.1667% !important;
	}

	.ve-col-3 {
		@extend %col-base;
		width: 25% !important;
	}

	.ve-col-3-9 {
		@extend %col-base;
		width: 32.5% !important;
	}

	.ve-col-3-8 {
		@extend %col-base;
		width: 31.6667% !important;
	}

	.ve-col-3-7 {
		@extend %col-base;
		width: 30.8333% !important;
	}

	.ve-col-3-6 {
		@extend %col-base;
		width: 30% !important;
	}

	.ve-col-3-5 {
		@extend %col-base;
		width: 29.1667% !important;
	}

	.ve-col-3-4 {
		@extend %col-base;
		width: 28.3333% !important;
	}

	.ve-col-3-3 {
		@extend %col-base;
		width: 27.5% !important;
	}

	.ve-col-3-2 {
		@extend %col-base;
		width: 26.6667% !important;
	}

	.ve-col-3-1 {
		@extend %col-base;
		width: 25.8333% !important;
	}

	.ve-col-2 {
		@extend %col-base;
		width: 16.6667% !important;
	}

	.ve-col-2-9 {
		@extend %col-base;
		width: 24.1667% !important;
	}

	.ve-col-2-8 {
		@extend %col-base;
		width: 23.3333% !important;
	}

	.ve-col-2-7 {
		@extend %col-base;
		width: 22.5% !important;
	}

	.ve-col-2-6 {
		@extend %col-base;
		width: 21.6667% !important;
	}

	.ve-col-2-5 {
		@extend %col-base;
		width: 20.8333% !important;
	}

	.ve-col-2-4 {
		@extend %col-base;
		width: 20% !important;
	}

	.ve-col-2-3 {
		@extend %col-base;
		width: 19.1667% !important;
	}

	.ve-col-2-2 {
		@extend %col-base;
		width: 18.3333% !important;
	}

	.ve-col-2-1 {
		@extend %col-base;
		width: 17.5% !important;
	}

	.ve-col-1 {
		@extend %col-base;
		width: 8.3333% !important;
	}

	.ve-col-1-9 {
		@extend %col-base;
		width: 15.8333% !important;
	}

	.ve-col-1-8 {
		@extend %col-base;
		width: 15% !important;
	}

	.ve-col-1-7 {
		@extend %col-base;
		width: 14.1667% !important;
	}

	.ve-col-1-6 {
		@extend %col-base;
		width: 13.3333% !important;
	}

	.ve-col-1-5 {
		@extend %col-base;
		width: 12.5% !important;
	}

	.ve-col-1-4 {
		@extend %col-base;
		width: 11.6667% !important;
	}

	.ve-col-1-3 {
		@extend %col-base;
		width: 10.8333% !important;
	}

	.ve-col-1-2 {
		@extend %col-base;
		width: 10% !important;
	}

	.ve-col-1-1 {
		@extend %col-base;
		width: 9.1667% !important;
	}

	.ve-col-0-9 {
		@extend %col-base;
		width: 7.5% !important;
	}

	.ve-col-0-8 {
		@extend %col-base;
		width: 6.6667% !important;
	}

	.ve-col-0-7 {
		@extend %col-base;
		width: 5.8333% !important;
	}

	.ve-col-0-6 {
		@extend %col-base;
		width: 5% !important;
	}

	.ve-col-0-5 {
		@extend %col-base;
		width: 4.1667% !important;
	}

	.ve-col-0-4 {
		@extend %col-base;
		width: 3.3333% !important;
	}

	.ve-col-0-3 {
		@extend %col-base;
		width: 2.5% !important;
	}

	.ve-col-0-2 {
		@extend %col-base;
		width: 1.6667% !important;
	}

	.ve-col-0-1 {
		@extend %col-base;
		width: 0.8333% !important;
	}
}
