@use "../vars/vars-night";

@layer vetools {
	.ve-night-mode {
		.stripe- {
			&even {
				&:nth-child(even) {
					background: vars-night.$rgb-stripe-grey--night;
				}
			}

			&odd {
				&:nth-child(odd) {
					background: vars-night.$rgb-stripe-grey--night;
				}
			}

			&child- {
				&even-first {
					&:nth-child(even) > :first-child {
						background: vars-night.$rgb-stripe-grey--night;
					}
				}
			}
		}

		.veapp {
			&__ {
				&ele-hoverable {
					&:hover {
						background: vars-night.$rgb-bg--alt-night;
					}
				}
			}
		}
	}
}
