@use "../vars/vars-night";

@layer vetools {
	.ve-night-mode {
		.ve-muted {
			color: vars-night.$rgb-font--muted-night !important;

			a,
			.roller {
				color: vars-night.$rgb-link-blue--muted-night;
			}
		}

		.ve-background {
			background-color: vars-night.$rgb-bg--night;
		}

		.ve-highlight {
			color: vars-night.$rgb-bg--night;
			background-color: vars-night.$rgb-bg-highlight--night;
		}
	}
}
