@use "../vars/vars-night";

@layer vetools {
	.ve-night-mode {
		.ve-hr-0,
		.ve-hr-1,
		.ve-hr-2,
		.ve-hr-3,
		.ve-hr-4,
		.ve-hr-5,
		.ve-vr-0,
		.ve-vr-1,
		.ve-vr-2,
		.ve-vr-3,
		.ve-vr-4,
		.ve-vr-5 {
			border-color: vars-night.$rgb-border-grey--night;
		}

		.ve-b-1p {
			border-color: vars-night.$rgb-border-grey--night !important;
		}

		.ve-bt-1p {
			border-top-color: vars-night.$rgb-border-grey--night !important;
		}

		.ve-br-1p {
			border-right-color: vars-night.$rgb-border-grey--night !important;
		}

		.ve-bb-1p {
			border-bottom-color: vars-night.$rgb-border-grey--night !important;

			&-trans {
				border-bottom-color: vars-night.$rgb-border-grey--trans-night !important;
			}
		}

		.ve-bl-1p {
			border-left-color: vars-night.$rgb-border-grey--night !important;
		}
	}
}
